{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width device-width, initial-scale=1.0">
<!-- 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> -->
	<link rel="stylesheet" href=" {% static 'css/navbar.css' %}" >


<title>Dashboard</title>

</head>
<body>
<nav class="navbar">
	<ul class="navbar-nav" >
		<li><a href="{% url 'home' %}">Dashboard</a>
		<li><a href="{% url 'create_task' %}">Create Task</a>
		<li>{{ username }}</li>
	</ul>
</nav>

<div id="main">
</div>

<script>
	function openSlideMenu(){
		document.getElementById('side-menu').style.width='250px';
		document.getElementById('main').style.marginLeft='250px';
	}
	function closeSlidemenu(){
		document.getElementById('side-menu').style.width='0px';
		document.getElementById('main').style.marginLeft='0px';

	}

</script>	
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script> -->


</body>
</html>